$background-color: rgb(0, 76, 190);
$disabled-color: rgb(205, 205, 205);
$green-color: rgb(14, 191, 14);

$success: rgb(0, 142, 14);
$success-secondary: rgb(190, 241, 186);

$failed: rgb(197, 0, 0);
$failed-secondary: rgb(255, 202, 202);

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    resize: none;
}

.d-none {
    display: none;
}

header {
    background-color: $background-color;
    color: white;
    padding: 1em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-family: 'Cinzel', sans-serif;
        font-weight: 400;
        font-size: 3em;
    }

    h2 {
        font-family: 'Cinzel', sans-serif;
        font-weight: 400;
        font-size: 1.75em;
    }
}

footer {
    background-color: $background-color;
    color: white;
    padding: 1em 4em;
    text-align: right;
}

section {
    padding: 2em 4em;
    display: flex;
    flex-direction: column;

    h3 {
        position: relative;
        text-align: center;
        padding: .5em 1em;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 250px;
            height: 1px;
            background-color: currentColor;
        }
    }
}

.club {
    width: 250px;
    padding: 1em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    .club-logo {
        img {
            height: 100px;
        }
    }
    .club-detail {
        text-align: center;
        .club-name {
            font-family: 'Cinzel', sans-serif;
            font-size: 1.2em;
            font-weight: 400;
            span {
                font-size: .8em;
                display: block;
            }
        }
        .mentor {
            font-weight: 400;
            &::before {
                content: 'Faculty Co-ordinator(s)';
                display: block;
                font-weight: 500;
            }
        }
        .description {
            text-align: justify;
            font-size: .75em;
            margin-top: 1em;
        }
    }
}

#club-details section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#welcome {
    font-family: 'Cinzel', sans-serif;
    h3 {
        font-size: 1.4em;
        &::after {
            display: none;
        }
    }

    h4 {
        font-size: 1.2em;
        text-align: center;
        span {
            font-size: .8em;
        }
    }
}

#feedback-details, #club-selection-form {
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        padding: 1em;
        width: 100%;
        max-width: 500px;

        .form-message {
            margin: 1em 0;
            padding: .5em 1em;
            display: none;

            &.success {
                display: block;
                color: $success;
                background-color: $success-secondary;
                border: 1px solid $success;
            }

            &.failed {
                display: block;
                color: $failed;
                background-color: $failed-secondary;
                border: 1px solid $failed;
            }

            .status {
                font-weight: 500;
            }
        }

        input, textarea, select {
            border: 1px solid lightgray;
            outline: none;            
            padding: .75em 1.5em;
            min-height: 1.25em;
            font-size: .8em;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            &:focus {
                outline: 2px solid $background-color;
            }
        }

        .radio {
            display: flex;
            // justify-content: space-around;
            input[type="radio"] { display: none; }
            label {
                cursor: pointer;
                flex: 1;
                text-align: center;
                padding: .5em;
                border: 1px solid lightgray;
            }
            input[type="radio"]:checked + label {
                background-color: $background-color;
                border: 1px solid $background-color;
                color: white;
            }
            input[type="radio"]:disabled + label {
                background-color: rgb(223, 223, 223);
                color: darkgray;
                border: none;
            }
        }

        input[type="submit"] {
            cursor: pointer;
            margin: 1em 0;
            border: 1px solid $background-color;
            color: $background-color;
            background-color: transparent;

            &:hover, &:active {
                background-color: $background-color;
                color: white;
            }
        }

        label + input, label + textarea, label + .radio, label + select {
            margin-bottom: 1em;
        }
    }
}

#selector {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    button {
        width: 100px;
        padding: 1em 0;
        border: 1px solid $background-color;
        color: $background-color;
        background-color: transparent;

        &:hover, &.selected {
            cursor: pointer;
            background-color: $background-color;
            color: white;
        }
    }
}

#schedule-details {
    
    .programs {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;

        .program {
            position: relative;
            padding: 1em;
            width: 275px;
            border: 1px solid black;
            display: none;

            .time {
                position: absolute;
                top: 0;
                right: 0;
                padding: 4px;
                font-size: .8em;
                background-color: black;
                color: white;
                border: 1px solid black;
            }

            h4 {
                font-weight: 500;
                font-size: 1.1em;
            }

            h5 {
                font-weight: 400;
                color: transparentize($color: black, $amount: .6);
            }

            a {
                display: block;
                color: black;
                text-decoration: none;
                margin-top: .5em;
            }

            & + .program {
                margin-top: 1em;
            }

            &.selected-section {
                display: block;
            }

            &.disabled {
                border: 1px solid $disabled-color;
                .time {
                    background-color: $disabled-color;
                    border-color: $disabled-color;
                }
                h4, h5 {
                    color: $disabled-color;
                }
            }

            &.current {
                border: 1px solid $green-color;
                .time {
                    background-color: $green-color;
                    border-color: $green-color;
                }
                h4 {
                    color: $green-color;
                }
                h5 {
                    color: transparentize($color: $green-color, $amount: .5);
                }
                a {
                    display: block;
                }
            }
        }
    }
}

.section-selectors {
    display: flex;
    width: 275px;
    flex-direction: column;

    h4 {
        margin-bottom: 0.75em;
    }

    .buttons {
        display:  flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    $sec-a: #e92828;
    $sec-b: #006aff;
    $sec-c: #8000ff;
    button {
        padding: 0.25em 2em;
        outline: none;
        cursor: pointer;

        &.sec-a {
            background-color: transparentize($sec-a, $amount: 0.75);
            border: 1px solid $sec-a;
            color: $sec-a;

            &:hover {
                background: $sec-a;
                color: white;
            }
        }
        &.sec-b {
            background-color: transparentize($sec-b, $amount: 0.75);
            border: 1px solid $sec-b;
            color: $sec-b;

            &:hover {
                background: $sec-b;
                color: white;
            }
        }
        &.sec-c {
            background-color: transparentize($sec-c, $amount: 0.75);
            border: 1px solid $sec-c;
            color: $sec-c;

            &:hover {
                background: $sec-c;
                color: white;
            }
        }
    }
}

.--hidden {
    display: none!important;
}

#au-map {
    display: none;
    iframe {
        width: 100%;
        height: 500px;
        border: none;
    }
}

@media only screen and (max-width: 840px) {
    header {
        font-size: 12px;
        flex-direction: column;
        padding: 1rem .25rem;
        h1 {
            font-size: 2.2em;
        }
    }

    footer {
        padding: 1em;
    }

    section {
        padding: 2em 0;
    }
}
